.item {
	display: flex;
	background: rgba(0, 0, 0, 0.05);
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	margin: 4px;

	&:hover:not(.expanded) {
		background: rgba(0, 0, 0, 0.10);
	}

	.item-name {
		display: flex;
		align-items: center;

		h4 {
			margin: 0;
			font-size: 16px;
			cursor: pointer;
			color: var(--alt);

			&:hover {
				text-shadow: 0 0 4px var(--sidebar-title);
				color: white;
			}
		}

		.item-image {
			@include p-reset;
			margin-right: 8px;
			height: 28px;
			width: 28px;

			font-size: 24px;
			color: transparent;
			text-align: center;

			background-repeat: no-repeat;
			background-size: contain;

			&:hover {
				background: none !important;
				color: var(--primary);
				cursor: pointer;
			}
		}
	}

	.item-controls {
		white-space: nowrap;
		float: right;
		font-size: 18px;

		.item-control {
			&__attack {
				color: darkslateblue;
			}

			&__shield {
				color: darkgreen;
			}

			&__damage {
				color: darkred;
			}
		}
	}

	.item-summary {
		flex-basis: 100%;
		display: block;
		margin-top: 4px;
		margin-bottom: 4px;
		padding: 4px;
		border-style: groove;
	}

	&.expandable {
		.item-summary {
			display: none;
		}
	}

	&.expanded {
		h4 {
			color: var(--primary);
			font-weight: 700;
		}
	}

	.item-buttons {
		grid-area: btn;
		display: flex;
		flex-wrap: wrap;
		margin-right: 2px;

		button {
			@include p-reset;
			margin-left: 2px;
			margin-right: 2px;
			border: none;
			cursor: pointer;
			@include micro;
			padding: 5px 4px;
			color: white;
			width: 70px;
			@include button;
			margin-top: 4px;
			background: var(--primary);
			border-radius: 2px;
			flex: 1;

			&:hover {
				@include input-glow;
				text-shadow: 0 0 2px white;
			}
		}

		.weapon {
			&_attack {
				background: var(--primary);
			}
		}
	}
}
