.apply-damage {
	margin: 4px;

	.character-grid {
		@include p-reset;
		display: grid;
		row-gap: 4px;
		margin-bottom: 4px;
	}

	.character {
		display: grid;
		grid-template-columns: 32px 1fr;
		column-gap: 8px;
		margin-left: 4px;
		margin-right: 4px;

		&:hover {
			background-color: var(--background-highlight);
		}

		&-name {
			align-self: center;
			font-family: "Norsebold";
			font-size: 1.4rem;
			line-height: 1;
		}

		&-portrait {
			img {
				border: none;
				width: 32px;
				height: 32px;
				vertical-align: middle;
			}
		}
	}

	.damage-values {
		display: grid;
		row-gap: 4px;
	}

	.label {
		background-color: #40450a;
		color: white;
		text-align: center;
		text-transform: uppercase;
	}

}
