<div class="form-group">
  <label>{{localize "CONAN.kitSkillLabel"}}</label>
  <select name="system.skill" data-dtype="String">
    {{#select item.system.skill}}
      {{#each kitSkills as |skill|}}
        <option value="{{skill.key}}">
          {{skill.name}}
        </option>
      {{/each}}
    {{/select}}
  </select>
</div>

<div class="form-group">
  <label>{{localize "CONAN.kitTypeLabel"}}</label>
  <select name="system.kitType" data-dtype="String">
    {{#select item.system.kitType}}
      {{#each kitTypes as |name type|}}
        <option value="{{type}}">
          {{name}}
        </option>
      {{/each}}
    {{/select}}
  </select>
</div>

<div class="form-group">
  <label>{{localize "CONAN.kitUsesMaxLabel"}}</label>
  <select name="system.uses.max" data-dtype="String">
    {{#select item.system.uses.max}}
      {{#each uses as |label key|}}
        <option value="{{key}}">
          {{{localize label}}}
        </option>
      {{/each}}
    {{/select}}
  </select>
</div>

<div class="form-group">
  <label>{{localize "CONAN.kitUsesAvailableLabel"}}</label>
  <input
    type="Number"
    name="system.uses.value"
    value="{{item.system.uses.value}}"
    data-dtype="Number"
  />
</div>
