<div class="form-group">
  <label>{{localize "CONAN.talentTreeLabel"}}</label>
  <input
    type="Text"
    name="system.tree"
    value="{{item.system.tree}}"
    data-dtype="String"
  />
</div>

<div class="form-group">
  <label>{{localize "CONAN.talentTypeLabel"}}</label>
  <select name="system.talentType" data-dtype="String">
    {{#select item.system.talentType}}
      {{#each talentTypes as |name type|}}
        <option value="{{type}}">
          {{name}}
        </option>
      {{/each}}
    {{/select}}
  </select>
</div>

<div class="form-group">
  <label>{{localize "CONAN.talentActionTypeLabel"}}</label>
  <select name="system.actionType" data-dtype="String">
    {{#select item.system.actionType}}
      <option value=""></option>
      {{#each talentActionTypes as |name type|}}
        <option value="{{type}}">
          {{name}}
        </option>
      {{/each}}
    {{/select}}
  </select>
</div>

<div class="form-group">
  <label>{{localize "CONAN.talentActionCategoryLabel"}}</label>
  <select name="system.actionCategory" data-dtype="String">
    {{#select item.system.actionCategory}}
      <option value=""></option>
      {{#each categories as |name type|}}
        <option value="{{type}}">
          {{name}}
        </option>
      {{/each}}
    {{/select}}
  </select>
</div>

<div class="form-group">
  <label>{{localize "CONAN.talentPrereqLabel"}}</label>
  <input
    type="Text"
    name="system.prerequisites"
    value="{{item.system.prerequisites}}"
    data-dtype="String"
  />
</div>

<div class="form-group">
  <label>{{localize "CONAN.talentRankLabel"}}</label>
  <input
    type="Number"
    name="system.rank.value"
    value="{{item.system.rank.value}}"
    data-dtype="Number"
  />
</div>

<div class="form-group">
  <label>{{localize "CONAN.talentRankMaxLabel"}}</label>
  <input
    type="Number"
    name="system.rank.max"
    value="{{item.system.rank.max}}"
    data-dtype="Number"
  />
</div>

<div class="form-group">
  <label>{{localize "CONAN.talentCostLabel"}} xp</label>
  <input
    type="Number"
    name="system.cost"
    value="{{item.system.cost}}"
    data-dtype="Number"
  />
</div>
