.inventory {
  height: calc(100% - 40px);

  .inventory-list {
    list-style: none;

    @import '../../imports/pc-sheet-list-header';
    @import '../../imports/item-lists';

    h3,
    h4 {
      @include p-reset;
    }

    h3 {
      font-size: 14px;
      line-height: 1;
      color: #c0c0c0;
      border: none;
      flex: auto;

      &:hover {
        color: white;
        cursor: pointer;
      }
    }

    h4 {
      font-size: 14px;
    }

    .item-table {
      @include p-reset;
      margin-left: 4px;
      margin-right: 4px;
      padding-left: 4px;
      padding-right: 4px;
    }

    .item-property {
      &-1 {
        flex: 0 0 65px;
      }

      &-2 {
        flex: 0 0 75px;
      }

      &__header {
        @include micro;
        @include flex-center;
        margin-right: 3px;

        font-size: 9px;
        font-family: 'Gelasio', 'Signika', Georgia, serif;

        color: #c0c0c0;
      }
    }

    align-items: center;
    justify-content: flex-start;
    position: relative;
    overflow-y: scroll;
    height: calc(100% - 42px);
    padding-left: 6px;
    padding-top: 6px;

    .item-name {
      flex: 2;
    }
  }

  ol {
    @include p-reset;
    list-style: none;
    display: flex;

    &:last-child {
      margin-bottom: 42px;
    }
  }

  .inv-header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    height: 30px;
    grid-template-areas:
      "gold gold gold upkeep";
  }

  .upkeep {
    grid-area: upkeep;
    background-image: url('../assets/sheet/attribute-block-header.png');
    margin-left: 3px;
    width: 85px;
    height: 30px;
    align-items: center;
    color: #C0C0C0;

    h3 {
      padding-top: 10px;
      padding-left: 5px;
      cursor: pointer;

      &:hover {
        @include input-glow;
        color: white;
        cursor: pointer;
      }
    }

    input[type=number] {
      font-weight: 900;
      text-align: center;
      color: #E9D7A1;
    }
  }

  .gold {
    grid-area: gold;
    padding: 2px;
    @include button;
    background-image: url('../assets/sheet/attribute-block-header.png');
    margin-bottom: 8px;
    margin-left: 3px;
    width: 150px;
    height: 30px;

    .coin-bar {
      display: flex;
      align-items: center;
      border-right: 1px solid rgba(white, 0.1);
      border-left: 1px solid rgba(black, 0.2);
      text-shadow: 0 0 3px rgba(black, 0.75);

      span {
        padding-left: 8px;
        padding-right: 12px;

        input[type=number] {
          color: white;
        }
      }

      .currency-image {
        height: 100%;
        width: 100%;
        @include gold-border;
        background-size: cover !important;
        background: url('../assets/icons/icon-goldp-1.png');
      }
    }

    .add-gold,
    .subtract-gold {
      height: 100%;

      button {
        line-height: 1;
        background-color: var(--tertiary);
        border: none;
        font-size: 16px;
        font-weight: 600;
        padding: 3px 8px;
        margin-top: 1px;
        border-radius: 1px;
        box-shadow:
          0 0 0 1px rgba(black, 0.25),
          inset 0 0 0 1px rgba(white, 0.25),
          0 0 3px rgba(black, 0.5);

        &:hover {
          background-color: var(--primary);
          color: white;
          cursor: pointer;
        }
      }
    }
  }

  .item-quantity,
  .item-weight,
  .item-controls {
    @include flex-center;
  }

  .item-quantity {
    flex: 0 0 60px;
    font-family: $sans-serif;

    .item-decrease-quantity,
    .item-decrease-uses,
    .item-increase-quantity,
    .item-increase-uses,
    .mount-increase-pass,
    .mount-decrease-pass {
      height: 100%;
      width: 18px;
      text-align: center;
      @include flex-center;

      &:hover {
        @include input-glow;
        color: white;
        cursor: pointer;
      }
    }

    .exceeded-max {
      color: red;
    }
  }

  .item-weight {
    flex: 0 0 60px;

    .exceeded-max {
      color: red;
    }
  }

  .item-controls {
    flex: 0 0 65px;
    justify-content: flex-end;

    .item-control {
      margin-right: 4px;
      font-size: 14px;

      &.item-stowage-view,
      &.item-toggle-equip {
        color: rgba(black, 0.4);

        &.active {
          color: var(--secondary);

          &:hover {
            @include input-glow;
            color: white;
            cursor: pointer;
          }
        }
      }

      &.item-toggle-broken {
        color: rgba(black, 0.4);

        &.active {
          color: red;

          &:hover {
            @include input-glow;
            color: white;
            cursor: pointer;
          }
        }
      }

      &:hover {
        @include input-glow;
        color: white;
        cursor: pointer;
      }
    }
  }

  .currency,
  .encumbrance {
    margin-right: 23px;
  }

  .encumbrance {
    margin-top: 0px;
    display: grid;
    grid:
      'img bar' min-content / 40px 1fr;
    align-items: center;

    img {
      grid-area: img;
      @include frame-icon;
      border-radius: 0;
      position: relative;
      z-index: 4;
    }

    .encumbrance-bar {
      position: relative;
      z-index: 2;
      grid-area: bar;
      height: 16px;
      width: 100%;
      background-color: var(--light);
      box-shadow: inset 0 0 0 1px rgba(black, 0.5),
        inset 0 0 0 2px rgba(white, 0.2);
    }

    .encumbrance-label {
      position: relative;
      z-index: 3;
      grid-area: bar;
      color: white;
      font-family: $serif;
      font-size: 12px;
      font-weight: 500;
      padding: 0 8px;
      padding-top: 2px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      text-shadow: 0 0 2px black;
    }

    .bar-bg {
      position: relative;
      z-index: 1;
      grid-area: bar;
      width: 100%;
      height: 16px;
      background-color: rgba(black, 0.5);
      border-radius: 0 2px 2px 0;
      box-shadow: inset 0 0 4px rgba(black, 0.75);
    }

    &.over-limit {
      .encumbrance-bar {
        background-color: darkred;
      }
    }
  }
}
