<section class="npc-health">
  <div class="npc-sheet-sub-heading">
    <h3>
      {{localize "CONAN.npc.sections.health"}}
    </h3>
  </div>
  <div class="npc-health__grid">
    <div class="npc-health__entry">
      <h4 class="npc-sheet-field__label">
        {{localize "CONAN.healthVigor"}}
      </h4>
      <div class="npc-sheet-field__value">
        <div class="npc-health__score">
          <input
            name="system.health.physical.value"
            type="Number"
            value="{{system.health.physical.value}}"
            placeholder="4"
          />
          /
          <input
            name="system.health.physical.max"
            type="Number"
            value="{{system.health.physical.max}}"
            placeholder="4"
          />
        </div>
      </div>
    </div>
    <div class="npc-health__entry">
      <h4 class="npc-sheet-field__label">
        {{localize "CONAN.healthResolve"}}
      </h4>
      <div class="npc-sheet-field__value">
          <div class="npc-health__score">
            <input
              name="system.health.mental.value"
              type="Number"
              value="{{system.health.mental.value}}"
              placeholder="4"
            />
            /
            <input
              name="system.health.mental.max"
              type="Number"
              value="{{system.health.mental.max}}"
              placeholder="4"
            />
          </div>
      </div>
    </div>
    <div class="npc-health__entry">
      <h4 class="npc-sheet-field__label">
        {{localize "CONAN.healthArmor"}}
      </h4>
      <div class="npc-sheet-field__value">
        <input
          name="system.armor"
          type="Number"
          value="{{system.armor}}"
          placeholder="4"
        />
      </div>
    </div>
    <div class="npc-health__entry">
      <h4 class="npc-sheet-field__label">
        {{localize "CONAN.healthCourage"}}
      </h4>
      <div class="npc-sheet-field__value">
        <input
          name="system.health.courage"
          type="Number"
          value="{{system.health.courage}}"
          placeholder="4"
        />
      </div>
    </div>
    <div class="npc-health__entry">
        <h4 class="npc-sheet-field__label">
          {{localize "CONAN.healthWounds"}}
        </h4>
        <div class="npc-sheet-field__value">
          <div class="npc-health__score">
            <input
              name="system.health.physical.wounds.value"
              type="Number"
              value="{{system.health.physical.wounds.value}}"
              placeholder="0"
            />
            /
            <input
              name="system.health.physical.wounds.max"
              type="Number"
              value="{{system.health.physical.wounds.max}}"
              disabled
            />
          </div>
        </div>
    </div>
    <div class="npc-health__entry">
        <h4 class="npc-sheet-field__label">
          {{localize "CONAN.healthTrauma"}}
        </h4>
        <div class="npc-sheet-field__value">
          <div class="npc-health__score">
            <input
              name="system.health.mental.traumas.value"
              type="Number"
              value="{{system.health.mental.traumas.value}}"
              placeholder="0"
            />
            /
            <input
              name="system.maxWounds"
              type="Number"
              value="{{system.health.mental.traumas.max}}"
              disabled
            />
          </div>
        </div>
    </div >
  </div>
</section>
