.npc-sheet-attributes {
	@include p-reset;
	margin-bottom: 4px;
	text-align: center;

	&__3-column-grid {
		@include p-reset;
		display: grid;
		column-gap: 3px;
		grid-template-columns: repeat(3, 1fr);
	}

	&__4-column-grid {
		@include p-reset;
		display: grid;
		column-gap: 3px;
		grid-template-columns: repeat(4, 1fr);
	}
}
