.npc-sheet-navigation {
	@include p-reset;
	margin: 4px;
	margin-bottom: 8px;

	&__flex {
		display: flex;
		justify-content: space-evenly;

		a {
			color: black;
			font-family: Norsebold;
			font-size: 26px;

			&.active {
				text-shadow: 0 0 4px red;
				text-decoration: underline;
			}
		}
	}
}
