.npc-skills {
	&__grid {
		margin-top: 4px;
		display: grid;
		grid-template-columns: 1fr 1fr;
		column-gap: 3px;
		row-gap: 3px;
		text-align: center;
		margin-bottom: 3px;

		input[type=number] {
			text-align: center;
			border: none;
			width: 100%;

			&::placeholder {
				color: black;
			}
		}

		.rollable:hover {
			cursor: pointer;
			text-shadow: 0 0 10px red;
		}

	}

	&__item {
		display: grid;
		grid-template-columns: 1fr 1fr;

		p {
			@include p-reset;
			margin-left: 4px;
			margin-right: 4px;
			padding-top: 4px;

			background: rgba(0, 0, 0, 0.05);
		}
	}
}
