.npc-type-grid {
  display: grid;
  grid-template-columns: 115px 1fr 1fr;
  column-gap: 18px;
  margin-bottom: 4px;
  margin-left: 8px;
  margin-right: 8px;

  &.readonly {
    align-items: center;
  }
}

.npc-sheet__portrait {
	border: none;
	width: 115px;
	height: 115px;
	cursor: pointer;
}
