<form class="{{cssClass}} npc-sheet" autocomplete="off">
    <div class="npc-sheet__header">

      <header class="npc-sheet-banner__grid">
        <div class="npc-sheet-banner__left"></div>

        <div class="npc-sheet-banner__centre">
          <input
            name="name"
            type="text"
            value="{{actor.name}}"
            placeholder="{{localize "CONAN.characterNamePlaceholder"}}"
          />
        </div>

        <div class="npc-sheet-banner__right"></div>
      </header>

      <nav class="npc-sheet-navigation npc-sheet-navigation__grid" data-group="primary">
        <div class="npc-sheet-navigation__flex">
          <a class="npc-sheet-navigation active" data-tab="npc-details">
            {{localize "CONAN.tabNpcDetailsLabel"}}
          </a>

          <a class="npc-sheet-navigation" data-tab="npc-abilities">
            {{localize "CONAN.tabNpcAbilitiesLabel"}}
          </a>

          <a class="npc-sheet-navigation" data-tab="npc-notes">
            {{localize "CONAN.tabNotesLabel"}}
          </a>

          <a class="npc-sheet-navigation" data-tab="npc-mob">
            {{localize "CONAN.tabNpcMobLabel"}}
          </a>
        </div>
      </nav>

      <hr />

    </div>

    <section class="npc-sheet__body">
      {{> systems/conan2d20/templates/actors/tabs/npc-details.html}}
      {{> systems/conan2d20/templates/actors/tabs/npc-abilities.html}}
      {{> systems/conan2d20/templates/actors/tabs/npc-mob.html}}
      {{> systems/conan2d20/templates/actors/tabs/npc-notes.html}}
    </section>
</form>
